$_main_color: #301a25 ;
$_main_bg_color: rgba(255, 255, 255, 0.87);
$_pink: #EC4899;
$_purple: #7C3AED;
$_light_pink: #FCE7F3;
$_soft: #DDD6FE;
$_soft_gradient: linear-gradient(90deg, #fce7f3 0%, #ddd6fe 100%);;
$_white: #ffffff;
$_blue: #3B82F6;
$_pink_gradient: linear-gradient(90deg, rgba(236, 72, 153, 0.8) 0%, rgba(250, 230, 244, 0.3) 100%);;

