<section class="community">
  <div class="community-container">
    <h2 class="community-title">Community Fan Art Gallery</h2>
    <p class="community-p">Celebrate the creativity of our players!</p>
    <div class="community-list">
      <div class="community-card1">
        <div class="community-card-bg">
          <p class="community-card-name">By Alex T.</p>
        </div>
        <div class="community-wrapper">
          <p class="community-wrapper-p">Sweet Adventures</p>
          <div class="community-wrapper-likes">
            <div class="community-likes">
              <svg class="community-svg">
                <use href="sprite.svg#icon-heard"></use>
              </svg>
              <p class="community-heard">312</p>
            </div>
            <div class="community-likes">
              <svg class="community-svg">
                <use href="sprite.svg#icon-message"></use>
              </svg>
              <p class="community-number">67</p>
            </div>
          </div>
        </div>
      </div>
      <div class="community-card2">
        <div class="community-card-bg">
          <p class="community-card-name">By Sarah K.</p>
        </div>
        <div class="community-wrapper">
          <p class="community-wrapper-p">Candy Princess</p>
          <div class="community-wrapper-likes">
            <div class="community-likes">
              <svg class="community-svg">
                <use href="sprite.svg#icon-heard"></use>
              </svg>
              <p class="community-heard">255</p>
            </div>
            <div class="community-likes">
              <svg class="community-svg">
                <use href="sprite.svg#icon-message"></use>
              </svg>
              <p class="community-number">55</p>
            </div>
          </div>
        </div>
      </div>
      <div class="community-card3">
        <div class="community-card-bg">
          <p class="community-card-name">By Mike R.</p>
        </div>
        <div class="community-wrapper">
          <p class="community-wrapper-p">Sweet Kingdom</p>
          <div class="community-wrapper-likes">
            <div class="community-likes">
              <svg class="community-svg">
                <use href="sprite.svg#icon-heard"></use>
              </svg>
              <p class="community-heard">168</p>
            </div>
            <div class="community-likes">
              <svg class="community-svg">
                <use href="sprite.svg#icon-message"></use>
              </svg>
              <p class="community-number">32</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="community-join-bg">
      <h3 class="community-join-title">Join the Sweet Candy World community!</h3>
      <p class="community-join-p">Submit your own art and get featured on our page!</p>
      <a class="community-btn" href="https://play.google.com/store/apps/details?id=com.v2r.JewelCandyWorld&hl=en&gl=us"
        target="_blank">
        <svg class="community-icon">
          <use href="sprite.svg#icon-arrow-up"></use>
        </svg>
        <span class="community-span">Submit Your Art</span>
      </a>
    </div>
  </div>
</section>