<section class="home">
  <div class="home-container">
    <div class="home-wrapper">
      <h1 class="home-title">Enter the Sweet Candy Kingdom!</h1>
      <p class="home-p">Embark on a delicious match-3 adventure!</p>
      <a class="home-btn" href="" target="_blank">
        <svg class="home-icon">
          <use href="../public/icons.svg#icon-home"></use>
        </svg>
        <span class="home-span">Get it on Google Play</span>
      </a>
    </div>
    <picture>
      <source srcset="
      ./img/girl-desk.png    1x,
      ./img/girl-desk@2x.png 2x
      " media="(min-width: 1200px)" />
      <source srcset="
      ./img/home-girl.png    1x,
      ./img/home-girl@2x.png 2x
      " media="(max-width: 375px)" />
      <img class="home-girl" src="./img/home-girl.png" alt="girl" />
    </picture>
    <picture>
      <source srcset="
      ./img/Redmi-desk.png    1x,
      ./img/Redmi-desk@2x.png 2x
      " media="(min-width: 1200px)" />
      <source srcset="
      ./img/Redmi-mob.png    1x,
      ./img/Redmi-mob@2x.png 2x
      " media="(max-width: 375px)" />
      <img class="home-phone" src="./img/Redmi-mob.png" alt="redmi" />
    </picture>
  </div>
</section>