<div class="modal">
  <div class="modal-container">
    <ul class="modal-list">
      <li class="modal-item">
        <a class="modal-link" href="#Home">Home</a>
      </li>
      <li class="modal-item">
        <a class="modal-link" href="#Overview">Game Overview</a>
      </li>
      <li class="modal-item">
        <a class="modal-link" href="#Characters">Character Spotlight</a>
      </li>
      <li class="modal-item">
        <a class="modal-link" href="#Map">Interactive Game Map</a>
      </li>
      <li class="modal-item">
        <a class="modal-link" href="#Fan">Community Fan</a>
      </li>
      <li class="modal-item">
        <a class="modal-link" href="#Rankings">Player Rankings</a>
      </li>
      <li class="modal-item">
        <a class="modal-link" href="#Rankings">Soundtrack Preview</a>
      </li>
    </ul>
  </div>
</div>

