<div class="modal">
  <div class="modal-container">
    <ul class="modal-list">
      <li class="modal-item">
        <a class="modal-link" href="#home">Home</a>
      </li>
      <li class="modal-item">
        <a class="modal-link" href="#overview">Game Overview</a>
      </li>
      <li class="modal-item">
        <a class="modal-link" href="#characters">Character Spotlight</a>
      </li>
      <li class="modal-item">
        <a class="modal-link" href="#map">Interactive Game Map</a>
      </li>
      <li class="modal-item">
        <a class="modal-link" href="#gallery">Community Fan</a>
      </li>
      <li class="modal-item">
        <a class="modal-link" href="#leaderboard">Player Rankings</a>
      </li>
      <li class="modal-item">
        <a class="modal-link" href="#soundtrack">Soundtrack Preview</a>
      </li>
    </ul>
  </div>
</div>

