<section class="overview">
    <picture class="overview-img">
      <source srcset="
    ../img/cream.png    1x,
    ../img/cream.png@2x.png 2x
    " />
      <img src="../img/cream.png" alt="cream" />
    </picture>
    <div class="overview-container">
      <h2 class="overview-title">Game Overview</h2>
      <p class="overview-p">Welcome to Sweet Candy World, a delicious match-3 adventure filled with colorful candies,
        thrilling challenges, and whimsical characters!</p>
    </div>
    

</section>