<section id="characters" class="residents">
  <div class="residents-container">
    <h2 class="residents-title">Meet the Residents of Candy Kingdom!</h2>
    <p class="residents-p">Get to know these delightful characters as you progress through the game!</p>
    <div class="resident-list">
      <div class="resident-wrapper">
        <picture>
          <source srcset="
          ./img/residents/resident1-desk.png    1x,
          ./img/residents/resident1-desk@2x.png 2x
          " media="(min-width: 1200px)" />
          <source srcset="
          ./img/residents/resident1-mob.png    1x,
          ./img/residents/resident1-mob@2x.png 2x
          " media="(max-width: 1199px)" />
          <img class="residents-img" src="./img/residents/resident1-mob.png" alt="resident" />
        </picture>
        <h3 class="resident-wrapper-title">Sugarine</h3>
        <p class="resident-wrapper-p resident-wrapper-p1 ">Your sweet and adventurous guide</p>
      </div>
      <div class="resident-wrapper">
        <picture>
          <source srcset="
          ./img/residents/resident2-desk.png    1x,
          ./img/residents/resident2-desk@2x.png 2x
          " media="(min-width: 1200px)" />
          <source srcset="
          ./img/residents/resident2-mob.png    1x,
          ./img/residents/resident2-mob@2x.png 2x
          " media="(max-width: 1199px)" />
          <img class="residents-img" src="./img/residents/resident2-mob.png" alt="resident" />
        </picture>
        <h3 class="resident-wrapper-title">King Choco</h3>
        <p class="resident-wrapper-p resident-wrapper-p2">The wise ruler of the kingdom</p>
      </div>
      <div class="resident-wrapper">
        <picture>
          <source srcset="
          ./img/residents/resident3-desk.png    1x,
          ./img/residents/resident3-desk@2x.png 2x
          " media="(min-width: 1200px)" />
          <source srcset="
          ./img/residents/resident3-mob.png    1x,
          ./img/residents/resident3-mob@2x.png 2x
          " media="(max-width: 1199px)" />
          <img class="residents-img" src="./img/residents/resident3-mob.png" alt="resident" />
        </picture>
        <h3 class="resident-wrapper-title">Jelly Jester</h3>
        <p class="resident-wrapper-p resident-wrapper-p3">Mischievous but lovable troublemaker</p>
      </div>
      <div class="resident-wrapper">
        <picture>
          <source srcset="
          ./img/residents/resident4-desk.png    1x,
          ./img/residents/resident4-desk@2x.png 2x
          " media="(min-width: 1200px)" />
          <source srcset="
          ./img/residents/resident4-mob.png    1x,
          ./img/residents/resident4-mob@2x.png 2x
          " media="(max-width: 1199px)" />
          <img class="residents-img" src="./img/residents/resident4-mob.png" alt="resident" />
        </picture>
        <h3 class="resident-wrapper-title">Marshmallow Mage</h3>
        <p class="resident-wrapper-p">A wizard with sugary spells</p>
      </div>
    </div>
  </div>
</section>