<section id="soundtrack" class="soundtrack">
  <div class="soundtrack-container">
    <h2 class="soundtrack-title">Sweet Candy World Soundtrack</h2>
    <p class="soundtrack-p">Immerse yourself in the sugary sounds of Sweet Candy World!</p>
    <div class="soundtrack-flex">
      <div class="soundtrack-wrapper">
        <picture class="soundtrack-img">
          <source srcset="
          ./img/soundtrack/Rectangle-desk.png    1x,
          ./img/soundtrack/Rectangle-desk@2x.png 2x
          " media="(min-width: 1200px)" />
          <source srcset="
          ./img/soundtrack/Rectangle-mob.png    1x,
          ./img/soundtrack/Rectangle-mob@2x.png 2x
          " media="(max-width: 1199px)" />
          <img src="./img/soundtrack/Rectangle-mob.png" alt="sound" />
        </picture>
        <h3 class="soundtrack-h3">Listen Now!</h3>
        <p class="soundtrack-p2">Get into the rhythm of the game</p>
        <a class="soundtrack-btn"
          href="https://play.google.com/store/apps/details?id=com.v2r.JewelCandyWorld&hl=en&gl=us" target="_blank">
          <svg class="soundtrack-icon">
            <use href="sprite.svg#icon-hears"></use>
          </svg>
          <span class="soundtrack-span">Play Full Soundtrack</span>
        </a>
      </div>
      <div class="soundtrack-candys">
        <div class="soundtrack-candy1">
          <picture class="soundtrack-picture">
            <source srcset="
            ./img/overview/candy5.png      1x,
            ./img/overview/candy5@2x.png   2x " />
            <img src="./img/overview/candy5.png" alt="candy" />
          </picture>
          <div class="overview-candy-text">
            <h3>Upbeat Tunes</h3>
            <p>Upbeat tunes that make every match exciting</p>
          </div>
        </div>
        <div class="soundtrack-candy2">
          <picture class="soundtrack-picture">
            <source srcset="
            ./img/overview/candy3.png      1x,
            ./img/overview/candy3@2x.png   2x " />
            <img src="./img/overview/candy3.png" alt="candy" />
          </picture>
          <div class="overview-candy-text">
            <h3>Special Effects</h3>
            <p>Special sound effects for rare combos and boosters</p>
          </div>
        </div>
        <div class="soundtrack-candy3">
          <picture class="soundtrack-picture">
            <source srcset="
            ./img/overview/candy2.png      1x,
            ./img/overview/candy2@2x.png   2x " />
            <img src="./img/overview/candy2.png" alt="candy" />
          </picture>
          <div class="overview-candy-text">
            <h3>Immersive Experience</h3>
            <p>Relaxing background music for a cozy game session</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>