.overview-img {
  display: block;
  width: 100%;
  height: auto;
}

.overview-container {
  margin: 48px auto 0 auto;
  width: 272px;
  text-align: center;
  @include media(desktop) {
    width: 612px;
    margin: 6px auto 0 auto;
  }
}

.overview-title {
  line-height: 1.5;
  @include media(desktop) {
    line-height: 1;
  }
}

.overview-p {
  margin-top: 12px;
  margin-bottom: 57px;
  @include media(desktop) {
    margin-top: 24px;
    font-size: 18px;
    line-height: 1.11111;
  }
}