@import './common/breakpoints';
@import './common/mixins';
@import './common/reset';
@import './common/vars';
@import './header.scss';
@import './home.scss';
@import './overview.scss';
@import './modal.scss';
@import './cookies.scss';



:root {
  font-family: "Quicksand", "Poppins", sans-serif;
  background: linear-gradient(90deg, #fce7f3 0%, #ddd6fe 100%);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #301a25;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media screen and (max-width: $mobile) {
  h1 {
    font-family: "Quicksand";
    font-weight: 700;
    font-size: 36px;
  }

  h2 {
    font-family: "Quicksand";
    font-weight: 400;
    font-size: 24px;
  }

  h3 {
    font-family: "Quicksand";
    font-weight: 600;
    font-size: 20px;
  }

  h4 {
    font-family: "Quicksand";
    font-weight: 400;
    font-size: 16px;
  }
}

@media screen and (min-width: $desktop) {
  h1 {
    font-family: "Quicksand";
    font-weight: 700;
    font-size: 40px;
  }

  h2 {
    font-family: "Quicksand";
    font-weight: 400;
    font-size: 36px;
  }

  h3 {
    font-family: "Quicksand";
    font-weight: 600;
    font-size: 24px;
  }

  h4 {
    font-family: "Quicksand";
    font-weight: 400;
    font-size: 18px;
  }

  h5 {
    font-family: "Quicksand";
    font-weight: 400;
    font-size: 14px;
  }
}
