.terms {
  padding-block: 38px;

  @include media(desktop) {
    padding-block: 85px;
  }
}
.terms-container {
  width: 272px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-direction: column;

  @include media(desktop) {
    width: 1072px;
  }
}
.terms-header {
  font-size: 36px;
  line-height: calc(120 / 36);
  font-family: inherit;

  @include media(desktop) {
    font-size: 48px;
    line-height: calc(72 / 64);
  }
}
.terms-subheader {
  font-size: 20px;
  font-family: inherit;

  @include media(desktop) {
    font-size: 24px;
  }
}
.terms-txt {
  font-size: 16px;
  line-height: calc(20 / 16);
  font-family: inherit;

  @include media(desktop) {
    font-size: 18px;
    line-height: calc(20 / 18);
  }
}
